Task A2/IBMCloud2Pi-(bluemix).json
[{"id":"ae6ef5b5.7a5e28","type":"tab","label":"IBMCloud2Pi","disabled":false,"info":""},{"id":"13c2a0e2.a1413f","type":"ibmiot out","z":"ae6ef5b5.7a5e28","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"080027b47005","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":900,"y":260,"wires":[]},{"id":"629883dd.06aacc","type":"function","z":"ae6ef5b5.7a5e28","name":"","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":260,"wires":[["d28ab9b3.a62838"]]},{"id":"a3c68ac1.b96938","type":"inject","z":"ae6ef5b5.7a5e28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":230,"y":200,"wires":[["629883dd.06aacc"]]},{"id":"db452834.5b3e28","type":"inject","z":"ae6ef5b5.7a5e28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Alert","payloadType":"str","x":230,"y":320,"wires":[["629883dd.06aacc"]]},{"id":"d28ab9b3.a62838","type":"json","z":"ae6ef5b5.7a5e28","name":"","property":"payload","action":"","pretty":false,"x":670,"y":260,"wires":[["13c2a0e2.a1413f","f1d2a164.694c7"]]},{"id":"f1d2a164.694c7","type":"debug","z":"ae6ef5b5.7a5e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":160,"wires":[]}]