Task A3/SenseHat2IBMCloud-(bluemix).json
[{"id":"9edc1a97.5809c8","type":"tab","label":"SenseHatSim2IBMCloud","disabled":false,"info":""},{"id":"ea2ef27b.73f5e","type":"ibmiot in","z":"9edc1a97.5809c8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb080027c5e826","applicationId":"","deviceType":"senseHat","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":260,"wires":[["3a1a7691.67688a","eef95f17.ea457","6106995d.acffe8","71b325fd.27957c","3390b444.34d29c"]]},{"id":"3a1a7691.67688a","type":"debug","z":"9edc1a97.5809c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":40,"wires":[]},{"id":"eef95f17.ea457","type":"function","z":"9edc1a97.5809c8","name":"Temperature","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":240,"wires":[["69cbca39.53fe24"]]},{"id":"6106995d.acffe8","type":"function","z":"9edc1a97.5809c8","name":"Humidity","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":340,"wires":[["526d8b6a.eb4d54"]]},{"id":"71b325fd.27957c","type":"function","z":"9edc1a97.5809c8","name":"Pressure","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":460,"wires":[["a7c1b139.2819a"]]},{"id":"69cbca39.53fe24","type":"ui_gauge","z":"9edc1a97.5809c8","name":"","group":"64189371.e9ef4c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":240,"wires":[]},{"id":"526d8b6a.eb4d54","type":"ui_gauge","z":"9edc1a97.5809c8","name":"","group":"64189371.e9ef4c","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":340,"wires":[]},{"id":"a7c1b139.2819a","type":"ui_gauge","z":"9edc1a97.5809c8","name":"","group":"64189371.e9ef4c","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"Pascal","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":440,"wires":[]},{"id":"3390b444.34d29c","type":"ui_button","z":"9edc1a97.5809c8","name":"","group":"64189371.e9ef4c","order":4,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":640,"y":160,"wires":[[]]},{"id":"64189371.e9ef4c","type":"ui_group","z":"","name":"Default","tab":"87e232a2.9962d","order":1,"disp":true,"width":"6","collapse":false},{"id":"87e232a2.9962d","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]